p {
    border: 1px solid red;
    background-color: green;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    margin: 30px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'PT Sans Narrow', sans-serif;
}
h1 {
    background-color: aqua;
    border: 1px solid;
    margin: 50px;
    padding: 10px;
    /* text-align: left; */
    /* text-decoration: overline; */
     /* text-decoration: line-through; */
      /* text-decoration: overline; */
    /* text-transform: lowercase;
    text-transform: uppercase;
    text-transform: capitalize; */
    /* text-indent: 50px; */
    /* letter-spacing: 3px; */
    /* line-height: 2; */
    /* direction: rtl; */
    /* direction: ltr; */
    /* unicode-bidi: bidi-override; */
    /* word-spacing: 40px; */
    font-family: 'Dancing Script', cursive;




}
div {
    border: 1px solid;
    padding: 20px;
    margin: 100px;

}

h2 {
    text-shadow: 2px 2px 3px red;
}